$bg-color: #121212;
$bg-color2: #010101;
$color1: rgb(140, 100, 255);
$color2: rgb(221, 74, 255);
$color3: rgb(25, 174, 180);
$color-cursor: rgb(255, 255, 255);
$blending: hard-light;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: none;
  overflow: hidden;
  background: linear-gradient(90deg, $bg-color, $bg-color2);
}

.background-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;

  display: grid;
  place-content: center;

  filter: url(#goo) blur(4px);
}

.circle {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background: radial-gradient(
      circle at center,
      rgba($color1, 0.5) 30%,
      rgba($color1, 0) 50%
    )
    no-repeat;

  mix-blend-mode: $blending;

  &:nth-child(2) {
    position: absolute;
    left: 60%;
    top: -30%;
    background: radial-gradient(
        circle at center,
        rgba($color2, 0.5) 30%,
        rgba($color2, 0) 50%
      )
      no-repeat;
    animation: moveInCircle2 15s alternate infinite;
  }

  &:nth-child(3) {
    height: 80rem;
    position: absolute;
    top: -20%;
    background: radial-gradient(
        circle at center,
        rgba($color3, 0.5) 30%,
        rgba($color3, 0) 50%
      )
      no-repeat;
  }
  animation: moveInCircle3 15s alternate infinite;
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;

  width: 20rem;
  height: 20rem;
  opacity: 0.7;
  mix-blend-mode: $blending;

  background: radial-gradient(
      circle at center,
      rgba($color-cursor, 0.5) 30%,
      rgba($color-cursor, 0) 50%
    )
    no-repeat;
}

@keyframes moveInCircle2 {
  to {
    transform: translate3d(-80rem, 0rem, 0) rotate(20deg);
  }
}

@keyframes moveInCircle3 {
  to {
    transform: translate3d(20rem, -20rem, 0) rotate(-20deg);
  }
}
