$bg-color: #313131;
$color1: rgb(140, 100, 255);
$color2: rgb(221, 74, 255);
$color3: rgb(25, 174, 180);
$color-cursor: rgb(180, 240, 255);
$blending: hard-light;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: none;
  overflow: hidden;
  background-color: $bg-color;
}

.background-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;

  display: grid;
  place-content: center;

  filter: url(#goo);
}

.circle {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background: radial-gradient(
      circle at center,
      rgba($color1, 0.5) 30%,
      rgba($color1, 0) 50%
    )
    no-repeat;

  mix-blend-mode: $blending;

  &:nth-child(2) {
    position: absolute;
    left: 60%;
    top: -30%;
    background: radial-gradient(
        circle at center,
        rgba($color2, 0.5) 30%,
        rgba($color2, 0) 50%
      )
      no-repeat;
  }

  &:nth-child(3) {
    height: 80rem;
    position: absolute;
    top: -20%;
    background: radial-gradient(
        circle at center,
        rgba($color3, 0.5) 30%,
        rgba($color3, 0) 50%
      )
      no-repeat;
  }
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;

  width: 10rem;
  height: 10rem;
  mix-blend-mode: $blending;

  background: radial-gradient(
      circle at center,
      rgba($color-cursor, 0.5) 30%,
      rgba($color-cursor, 0) 50%
    )
    no-repeat;
}
